quality-monitor-with-xR-chart.json
[{"id":"c1f62c34.38a79","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fb554b28.938c98","type":"sensorTag","z":"c1f62c34.38a79","name":"sensorTag","devices":["247189cc6a03"],"temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"magnetometerPeriod":1000,"accelerometer":true,"accelerometerPeriod":1000,"gyroscope":true,"gyroscopePeriod":1000,"luxometer":true,"luxometerPeriod":1000,"keys":true,"x":920,"y":540,"wires":[["e4d9363a.003858"]]},{"id":"4c85dcce.a6e5ac","type":"debug","z":"c1f62c34.38a79","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1530,"y":480,"wires":[]},{"id":"e4d9363a.003858","type":"switch","z":"c1f62c34.38a79","name":"switch","property":"sensor","propertyType":"msg","rules":[{"t":"eq","v":"luxometer","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":540,"wires":[["f0f916c8.d1bb28","396fec15.f993c4"]]},{"id":"f0f916c8.d1bb28","type":"change","z":"c1f62c34.38a79","name":"extract lux","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.json_data.lux","tot":"msg"},{"t":"set","p":"unit","pt":"msg","to":"x","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":420,"wires":[["4c85dcce.a6e5ac","ae2aff4d.10b9d8","147006fb.d77851","f80f9664.0030b8"]]},{"id":"ae2aff4d.10b9d8","type":"ui_gauge","z":"c1f62c34.38a79","name":"","group":"9210cd9b.295bf8","order":1,"width":0,"height":0,"gtype":"gage","title":"{{msg.sensor}}","label":"lux","format":"{{msg.payload}}","min":"0","max":"800","colors":["#ffe415","#26e600","#ca3838"],"seg1":"200","seg2":"400","x":1530,"y":640,"wires":[]},{"id":"396fec15.f993c4","type":"change","z":"c1f62c34.38a79","name":"extract tstamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tstamp.$date","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"time stamp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":640,"wires":[["3262d20f.17020e"]]},{"id":"3262d20f.17020e","type":"ui_text","z":"c1f62c34.38a79","group":"9210cd9b.295bf8","order":3,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload | date:'yyyy/MM/dd HH:mm:ss:sss'}}","layout":"row-spread","x":1530,"y":760,"wires":[]},{"id":"147006fb.d77851","type":"ui_chart","z":"c1f62c34.38a79","name":"","group":"9210cd9b.295bf8","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"40","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1530,"y":560,"wires":[[]]},{"id":"f80f9664.0030b8","type":"switch","z":"c1f62c34.38a79","name":"condition","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"200","vt":"str"},{"t":"btwn","v":"201","vt":"str","v2":"399","v2t":"str"},{"t":"gt","v":"400","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1440,"y":280,"wires":[["c0d210a8.ecfbe8","832e6493.908f58"],["a3b094a7.802868"],["625e04ee.a15834","b015597f.98815"]]},{"id":"625e04ee.a15834","type":"ui_toast","z":"c1f62c34.38a79","position":"top left","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"Higher than 400","name":"High notification","x":1700,"y":420,"wires":[]},{"id":"c0d210a8.ecfbe8","type":"ui_toast","z":"c1f62c34.38a79","position":"top left","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"Lower than 200","name":"Low notification","x":1700,"y":120,"wires":[]},{"id":"b015597f.98815","type":"function","z":"c1f62c34.38a79","name":">400","func":"msg.payload = (msg.payload -300).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":340,"wires":[["be6e9b29.4ddfc8"]]},{"id":"832e6493.908f58","type":"function","z":"c1f62c34.38a79","name":"<200","func":"msg.payload = (msg.payload - 300).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":200,"wires":[["be6e9b29.4ddfc8"]]},{"id":"be6e9b29.4ddfc8","type":"ui_text","z":"c1f62c34.38a79","group":"9210cd9b.295bf8","order":2,"width":0,"height":0,"name":"Deviation","label":"Deviation","format":"{{msg.payload}}","layout":"row-center","x":1940,"y":280,"wires":[]},{"id":"a3b094a7.802868","type":"function","z":"c1f62c34.38a79","name":"200<=x<=400","func":"msg.payload = \"none\"\nreturn msg;","outputs":1,"noerr":0,"x":1680,"y":280,"wires":[["be6e9b29.4ddfc8"]]},{"id":"9210cd9b.295bf8","type":"ui_group","z":"","name":"Quality monitor with x-R chart","tab":"d650eb92.234f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d650eb92.234f8","type":"ui_tab","z":"","name":"Flow 1","icon":"dashboard","order":3,"disabled":false,"hidden":false}]
