Showall.txt
[{"id":"b8176de0.327898","type":"sensorTag","z":"f9039b51.f590d8","name":"sensorTag","devices":["247189bc1985"],"temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"magnetometerPeriod":1000,"accelerometer":true,"accelerometerPeriod":1000,"gyroscope":true,"gyroscopePeriod":1000,"luxometer":true,"luxometerPeriod":1000,"keys":true,"reedrelay":true,"x":120,"y":104,"wires":[["98120cbe.9bbc98","b218c1dc.f38af","bae51795.33de28","19d2ec89.b66713","8f503d7c.e4e158","33446c4d.1914b4","f9c0ee45.f5fd7"]]},{"id":"f9c0ee45.f5fd7","type":"debug","z":"f9039b51.f590d8","name":"","active":true,"console":"false","complete":"true","x":465,"y":602,"wires":[]},{"id":"526d91ae.9fa108","type":"change","z":"f9039b51.f590d8","name":"extract lux","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.json_data.lux","tot":"msg"},{"t":"set","p":"unit","pt":"msg","to":"Lx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":523,"y":105,"wires":[["b97d3f68.edb798"]]},{"id":"b97d3f68.edb798","type":"ui_gauge","z":"f9039b51.f590d8","name":"luxometer","group":"3c1a2dc4.b544ca","order":5,"width":0,"height":0,"gtype":"gage","title":"{{msg.sensor}}","label":"Lx","format":"{{msg.payload}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":724,"y":104,"wires":[]},{"id":"b38cbb11.34e2d8","type":"change","z":"f9039b51.f590d8","name":"extract x with topic","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.json_data.x","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"X","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540.5,"y":332,"wires":[["adfe7471.671f98"]]},{"id":"adfe7471.671f98","type":"ui_chart","z":"f9039b51.f590d8","name":"accelerometer","group":"7052e93f.21f5a","order":0,"width":"6","height":"4","label":"{{msg.sensor}}","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"60","removeOlderPoints":"60","removeOlderUnit":"1","cutout":0,"colors":["#1f77b4","#14ad41","#cc2d2c","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":738,"y":369,"wires":[[],[]]},{"id":"91d7a9e5.b4a9f8","type":"change","z":"f9039b51.f590d8","name":"extract y with topic","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.json_data.y","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Y","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540.5,"y":374,"wires":[["adfe7471.671f98"]]},{"id":"aaaa3d24.232b8","type":"change","z":"f9039b51.f590d8","name":"extract z with topic","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.json_data.z","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Z","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":539.5,"y":423,"wires":[["adfe7471.671f98"]]},{"id":"2be05535.5dc862","type":"change","z":"f9039b51.f590d8","name":"extract ambient","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.json_data.ambient","tot":"msg"},{"t":"set","p":"unit","pt":"msg","to":"&#08451;","tot":"str"},{"t":"set","p":"sensor","pt":"msg","to":"ambient temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":528.5,"y":162,"wires":[["36b2292a.d15fae"]]},{"id":"36b2292a.d15fae","type":"ui_text","z":"f9039b51.f590d8","group":"3c1a2dc4.b544ca","order":6,"width":0,"height":0,"name":"ambient temperature","label":"{{msg.sensor}}","format":"{{msg.payload |number:2 }} {{msg.unit}}","layout":"row-spread","x":765,"y":162,"wires":[]},{"id":"b4d2b724.7d2d9","type":"change","z":"f9039b51.f590d8","name":"extract humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.json_data.humidity","tot":"msg"},{"t":"set","p":"unit","pt":"msg","to":" &#37;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":526.5,"y":238,"wires":[["f16b3ee3.cf852"]]},{"id":"14ced365.0cc625","type":"change","z":"f9039b51.f590d8","name":"extract pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.json_data.pressure","tot":"msg"},{"t":"set","p":"unit","pt":"msg","to":"Pa","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":526.5,"y":291,"wires":[["8c74b96b.554538"]]},{"id":"f16b3ee3.cf852","type":"ui_text","z":"f9039b51.f590d8","group":"3c1a2dc4.b544ca","order":8,"width":0,"height":0,"name":"humidity","label":"{{msg.sensor}}","format":"{{msg.payload |number:2 }} {{msg.unit}}","layout":"row-spread","x":726.5,"y":237,"wires":[]},{"id":"8c74b96b.554538","type":"ui_text","z":"f9039b51.f590d8","group":"3c1a2dc4.b544ca","order":9,"width":0,"height":0,"name":"pressure","label":"{{msg.sensor}}","format":"{{msg.payload |number:2 }} {{msg.unit}}","layout":"row-spread","x":726.5,"y":292,"wires":[]},{"id":"4db0dc71.556844","type":"change","z":"f9039b51.f590d8","name":"extract key2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.json_data.key2","tot":"msg"},{"t":"set","p":"sensor","pt":"msg","to":"key2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":523.5,"y":493,"wires":[["86b831b6.25dde"]]},{"id":"86b831b6.25dde","type":"ui_text","z":"f9039b51.f590d8","group":"31866ff4.31ca38","order":3,"width":0,"height":0,"name":"key2","label":"{{msg.sensor}}","format":"{{msg.payload}}","layout":"row-spread","x":708.5,"y":494,"wires":[]},{"id":"f223f3d2.6e093","type":"change","z":"f9039b51.f590d8","name":"extract key1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.json_data.key1","tot":"msg"},{"t":"set","p":"sensor","pt":"msg","to":"key1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":523.5,"y":542,"wires":[["9041404a.19b8f"]]},{"id":"9041404a.19b8f","type":"ui_text","z":"f9039b51.f590d8","group":"31866ff4.31ca38","order":4,"width":0,"height":0,"name":"key1","label":"{{msg.sensor}}","format":"{{msg.payload}}","layout":"row-spread","x":711.5,"y":544,"wires":[]},{"id":"98120cbe.9bbc98","type":"switch","z":"f9039b51.f590d8","name":"filter: accelerometer","property":"sensor","propertyType":"msg","rules":[{"t":"eq","v":"accelerometer","vt":"str"}],"checkall":"true","outputs":1,"x":317.5,"y":373,"wires":[["b38cbb11.34e2d8","91d7a9e5.b4a9f8","aaaa3d24.232b8"]]},{"id":"b218c1dc.f38af","type":"switch","z":"f9039b51.f590d8","name":"filter: keys","property":"sensor","propertyType":"msg","rules":[{"t":"eq","v":"keys","vt":"str"}],"checkall":"true","outputs":1,"x":289,"y":504,"wires":[["4db0dc71.556844","f223f3d2.6e093"]]},{"id":"bae51795.33de28","type":"switch","z":"f9039b51.f590d8","name":"filter: pressure","property":"sensor","propertyType":"msg","rules":[{"t":"eq","v":"pressure","vt":"str"}],"checkall":"true","outputs":1,"x":329.5,"y":292,"wires":[["14ced365.0cc625"]]},{"id":"19d2ec89.b66713","type":"switch","z":"f9039b51.f590d8","name":"filter: luxometer","property":"sensor","propertyType":"msg","rules":[{"t":"eq","v":"luxometer","vt":"str"}],"checkall":"true","outputs":1,"x":313,"y":106,"wires":[["526d91ae.9fa108"]]},{"id":"8f503d7c.e4e158","type":"switch","z":"f9039b51.f590d8","name":"filter: temperature","property":"sensor","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"}],"checkall":"true","outputs":1,"x":325,"y":163,"wires":[["2be05535.5dc862","463d8deb.ff80dc"]]},{"id":"33446c4d.1914b4","type":"switch","z":"f9039b51.f590d8","name":"filter: humidity","property":"sensor","propertyType":"msg","rules":[{"t":"eq","v":"humidity","vt":"str"}],"checkall":"true","outputs":1,"x":326,"y":236,"wires":[["b4d2b724.7d2d9"]]},{"id":"afe4ff0e.f38ea8","type":"comment","z":"f9039b51.f590d8","name":"Show (most of ) all sensor values","info":"","x":182.5,"y":61,"wires":[]},{"id":"463d8deb.ff80dc","type":"change","z":"f9039b51.f590d8","name":"extract object","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.json_data.object","tot":"msg"},{"t":"set","p":"unit","pt":"msg","to":"&#08451;","tot":"str"},{"t":"set","p":"sensor","pt":"msg","to":"object temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":528,"y":200,"wires":[["1efccd8e.373e22"]]},{"id":"1efccd8e.373e22","type":"ui_text","z":"f9039b51.f590d8","group":"3c1a2dc4.b544ca","order":7,"width":0,"height":0,"name":"object temperature","label":"{{msg.sensor}}","format":"{{msg.payload |number:2 }} {{msg.unit}}","layout":"row-spread","x":754,"y":199,"wires":[]},{"id":"3c1a2dc4.b544ca","type":"ui_group","z":"","name":"Environment","tab":"1f0ac340.0b943d","order":1,"disp":true,"width":"6"},{"id":"7052e93f.21f5a","type":"ui_group","z":"","name":"Accelerometer","tab":"1f0ac340.0b943d","order":2,"disp":true,"width":"6"},{"id":"31866ff4.31ca38","type":"ui_group","z":"","name":"Keys","tab":"1f0ac340.0b943d","order":3,"disp":true,"width":"6"},{"id":"1f0ac340.0b943d","type":"ui_tab","z":"","name":"Showall","icon":"dashboard","order":10}]